@media (max-width: 1200px){
    .sidebar {
        display: none;
    }

    .sidebar-button {
        display: block;
    }

    .theme-container.sidebar-open {
        .sidebar-button {
            color: #0088EE;
        }

        .sidebar {
            display: block
        }
    }

    .home-link {
        margin-left: 40px;
    }
}

.width_100{
    width 100% !important
}

.home{
    padding: 60px 1rem 50px
    max-width 100%
    height 100%
    box-sizing border-box
}

.sidebar-heading{
    padding-top: 0
    padding-bottom: 0
    line-height: 30px
    padding-left: 10px
    padding-right: 10px
}

.sidebar-heading.clickable.active,
a.sidebar-link.active {
    color: #0088EE
    border-left-color: #0088EE
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    color: #0088EE
    border-bottom-color: #0088EE
}

.home .footer {
    position: fixed
    bottom: 0
    left: 0
    padding: 0
    width: 100%
    line-height: 49px
    background-color: #fff;
}

.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0 !important
}

.sidebar > .sidebar-links {
    padding: 10px 0 !important
}

.sidebar-group li {
    line-height: 30px
}

.theme-default-content > h1:first-child {
    margin-bottom: 0 !important
    line-height: 40px
}

.active-sign {
    padding-left: 10px !important
}

#nprogress .bar {
    background: #0088EE
}

.page-edit {
    width: 100%
    max-width: 100%
    box-sizing: border-box
    padding: 0 1rem
}

// 首页按钮
.home .hero .action-button,
.home .hero .action-button:hover {
    padding: 5px 10px;
    background-color: #0088EE;
    border: 0;
}

.bj-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}