*
  margin: 0
  padding: 0

body
  min-width 1200px !important
  margin 0 auto !important
  font-family: JetBrainsMono,source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !important;

code, kbd{
  font-size: 16px !important;
  letter-spacing: 1px;
  font-family: JetBrainsMono,source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background: #F1F1F1;
}

a
  color: #0088EE

.theme-default-content:not(.custom)
  padding: 2rem 1rem !important
  max-width 100% !important

//  左侧导航
.sidebar
  width: 200px !important

//  主体部分
.page
  float: right !important
  padding-left: 0 !important
  width calc(100% - 200px) !important

@media (max-width: 1200px)
  .sidebar {
    display: none;
  }

  .page {
    width 100%;
  }

  .sidebar-button {
    display: block;
  }
  
  .theme-container.sidebar-open .sidebar-button {
    color: #0088EE;
  }

  .theme-container.sidebar-open .sidebar {
    display: block
    transform: translateX(0);
  }

  .theme-container.sidebar-open .page {
    width calc(100% - 200px);
  }

  .home-link {
    margin-left: 40px;
  }
  
.width_100
	width 100% !important

.navbar
  padding 0.75rem 1rem
  height: 60px

.home
  padding: 60px 1rem 50px
  max-width 100%
  height 100%
  box-sizing border-box

.sidebar-heading
  padding-top: 0
  padding-bottom: 0
  line-height: 30px
  padding-left: 10px
  padding-right: 10px

.sidebar-heading.clickable.active,
a.sidebar-link.active
  color: #0088EE
  border-left-color: #0088EE

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
  color: #0088EE
  border-bottom-color: #0088EE

.home .footer
  position: fixed
  bottom: 0
  left: 0
  padding: 0
  width: 100%
  line-height: 49px
  background-color: #fff;

.sidebar > .sidebar-links > li:not(:first-child)
  margin-top: 0 !important

.sidebar > .sidebar-links
  padding: 10px 0 !important

.sidebar-group li {
  line-height: 30px
}

.sidebar-link
  display: block
  padding-top: 0 !important
  padding-bottom: 0 !important
  line-height: 30px !important
  padding-left: 2em !important
  padding-right: 0.5em !important

.theme-default-content > h1:first-child
  margin-bottom: 0 !important
  line-height: 40px

.active-sign
  padding-left: 10px !important

#nprogress .bar
  background: #0088EE

.page-edit
  width: 100%
  max-width: 100%
  box-sizing: border-box
  padding: 0 1rem

// 首页按钮
.home .hero .action-button,
.home .hero .action-button:hover
  padding: 5px 10px;
  background-color: #0088EE;
  border: 0;
	
html,body,#app,.theme-container
	height 100% !important
	box-sizing border-box !important